
@media (max-width: 960px){
    .product__media-container .product__media {
        overflow-x: unset;
        height: 100% !important;
    }

    /* .product__media-item.hide__img {
        display: block !important;
        overflow: hidden !important;
    } */

    .product__chip {
        padding: 8px 6px;
        font-size: 16px;
    }
  .oc_pro{
    display: block !important;
  }
  .product__media-item.visible__img {
    display: block !important;
}
  

    .product__media-container.below-mobile .product__media-item, .product__media-container.below-mobile .product__media-item .media {
        overflow: hidden !important;
    }
  /*.product__media-item:has(.lighthouse__hide_img){
    display: none;
  }*/
}

.product-thumbnails__item.lighthouse__hide_img {
  display: none !important;
}

.product-thumbnails__item.lighthouse__visible_img{
  display: block !important;
}

