<svg width="16.78px" height="16.78px" viewBox="0 0 16.78 16.78" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>LinkedIn</title>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Social-Links" transform="translate(-190, -12)" fill="currentColor" fill-rule="nonzero">
            <g id="Social" transform="translate(15, 11)">
                <path d="M189.449444,1 C190.736843,1 191.78,2.04315667 191.78,3.33055556 L191.78,15.4494444 C191.78,16.7368433 190.736843,17.78 189.449444,17.78 L177.330556,17.78 C176.043623,17.78 175,16.7368433 175,15.4494444 L175,3.33055556 C175,2.04315667 176.043623,1 177.330556,1 L189.449444,1 Z M180.127222,7.05944444 L177.796667,7.05944444 L177.796667,14.9833333 L180.127222,14.9833333 L180.127222,7.05944444 Z M183.856111,7.05944444 L181.525556,7.05944444 L181.525556,14.9833333 L183.856111,14.9833333 L183.856111,10.7883333 C183.856111,10.560405 183.836068,10.1092094 183.903188,9.94607056 C184.086836,9.49021389 184.465318,9.01850944 185.164951,9.01850944 C186.081792,9.01850944 186.652778,9.71767611 186.652778,10.7421883 L186.652778,14.9833333 L188.983333,14.9833333 L188.982867,10.4499367 C188.982867,8.10819444 187.732291,7.05944444 186.064546,7.05944444 C184.718417,7.05944444 184.192177,7.75861111 183.856111,8.27879111 L183.856111,7.05944444 Z M178.96847,3.79666667 C178.260447,3.79666667 177.796667,4.30006667 177.796667,4.96147833 C177.796667,5.60890667 178.246464,6.12722222 178.941902,6.12722222 L178.954953,6.12722222 C179.677425,6.12722222 180.127222,5.60844056 180.127222,4.96147833 C180.114171,4.30006667 179.677425,3.79666667 178.96847,3.79666667 Z" id="LinkedIn"></path>
            </g>
        </g>
    </g>
</svg>